In [26]:
import pandas as pd
import numpy as np

In [27]:
dataRaw = pd.read_csv("C:\\Users\\Saranga\\Desktop\\ENTC ML\\Day 11\\My\FlexRaw.csv",header=None)

In [28]:
dataRaw.shape

(1, 7141)

In [29]:
dataRaw.head(1)

,0,1,2,3,4,5,6,7,8,9,...,7131,7132,7133,7134,7135,7136,7137,7138,7139,7140
0,0.99,-0.659,-0.513,48.828,19.653,-45.349,1.047,-0.708,-0.495,49.011,...,-4.639,-7.874,-4.456,0.568,-0.226,-0.841,-5.066,-8.545,-3.906,NaN

In [30]:
df = dataRaw.iloc[0:,:7140]

In [31]:
arr = np.array(df)
arr

array([[ 0.99 , -0.659, -0.513, ..., -5.066, -8.545, -3.906]])

In [32]:
arrNew = arr.reshape(1190,6)

In [33]:
arrNew

array([[  0.99 ,  -0.659,  -0.513,  48.828,  19.653, -45.349],
       [  1.047,  -0.708,  -0.495,  49.011,  23.01 , -47.974],
       [  1.072,  -0.741,  -0.466,  46.143,  25.085, -46.143],
       ...,
       [  0.559,  -0.225,  -0.839,  -4.395,  -7.385,  -4.456],
       [  0.567,  -0.224,  -0.84 ,  -4.639,  -7.874,  -4.456],
       [  0.568,  -0.226,  -0.841,  -5.066,  -8.545,  -3.906]])

In [34]:
dfNew = pd.DataFrame(arrNew)

In [35]:
dfNew

          0      1      2       3       4       5
0     0.990 -0.659 -0.513  48.828  19.653 -45.349
1     1.047 -0.708 -0.495  49.011  23.010 -47.974
2     1.072 -0.741 -0.466  46.143  25.085 -46.143
3     1.089 -0.740 -0.416  40.588  27.100 -42.664
4     1.103 -0.714 -0.404  32.227  29.724 -39.978
...     ...    ...    ...     ...     ...     ...
1185  0.521 -0.213 -0.835  -4.517  -7.935  -3.662
1186  0.541 -0.218 -0.841  -4.395  -7.141  -3.906
1187  0.559 -0.225 -0.839  -4.395  -7.385  -4.456
1188  0.567 -0.224 -0.840  -4.639  -7.874  -4.456
1189  0.568 -0.226 -0.841  -5.066  -8.545  -3.906

[1190 rows x 6 columns]

In [36]:
dfNew.columns = ["ax","ay","az","gx","gy","gz"]

In [37]:
dfNew

         ax     ay     az      gx      gy      gz
0     0.990 -0.659 -0.513  48.828  19.653 -45.349
1     1.047 -0.708 -0.495  49.011  23.010 -47.974
2     1.072 -0.741 -0.466  46.143  25.085 -46.143
3     1.089 -0.740 -0.416  40.588  27.100 -42.664
4     1.103 -0.714 -0.404  32.227  29.724 -39.978
...     ...    ...    ...     ...     ...     ...
1185  0.521 -0.213 -0.835  -4.517  -7.935  -3.662
1186  0.541 -0.218 -0.841  -4.395  -7.141  -3.906
1187  0.559 -0.225 -0.839  -4.395  -7.385  -4.456
1188  0.567 -0.224 -0.840  -4.639  -7.874  -4.456
1189  0.568 -0.226 -0.841  -5.066  -8.545  -3.906

[1190 rows x 6 columns]

In [38]:
dfNew.to_csv("C:\\Users\Saranga\Desktop\ENTC ML\Day 11\My\Flex.csv")